// Global default params, used in configs
params {

  // Choose between "symlink" - absolute path, "rellink" -relative path, "link " -hard link, "copy"
  publish_dir_mode="symlink"

  // Workflow flags
  countData = "../tests/testdata/example_nfcore/salmon.merged.gene_counts.subset.tsv"
  colData = "../tests/testdata/example_nfcore/rnaseq_samplesheet_nfcore-3.1.csv"
  design = "group"
  resDir = "./results"
  cond_col = "group"
  paired_grp = "donor"
  prefix = "test"
  //sample_col = NULL
  id_type = "ENSEMBL"
  fdr = 0.1
  c1 = "grpA"
  c2 = "grpB"
  readPaths = false

}


process {

  memory = "16GB"
  cpus = 1

  // Retry failed processes once
  maxRetries = 0
  errorStrategy = 'retry'

  // Per-process configuration
  withName:DESeq2 {
    cpus = 8
    memory = "64GB"
  }
}
