params {
    publish_dir_mode = "copy"
}

process {
    withName: HELLO {
        cpus = 2
        publishDir = [path: 'results/hello', mode: params.publish_dir_mode]
    }
}

process {
    withName: BioQC {
        cpus = 2
        publishDir = [path: 'results/BioQC', mode: params.publish_dir_mode]
    }
}

conda {
    useMamba = true
}
