// Global default params, used in configs
params {

  // Choose between "symlink" - absolute path, "rellink" -relative path, "link " -hard link, "copy"
  publish_dir_mode="copy"

  // Workflow flags
  //gene_expression = "./tests/testdata/example_clean/gene_expression.subset.tsv"
  //samplesheet = "./tests/testdata/example_clean/samplesheet.csv"
  gene_expression = "./tests/testdata/example_nfcore/salmon.merged.gene_counts.subset.tsv"
  samplesheet = "./tests/testdata/example_nfcore/rnaseq_samplesheet_nfcore-3.1.csv"
  genes_of_interest = "./tests/testdata/example_clean/genes_of_interest.txt"
  design = "group"
  resDir = "./results"
  cond_col = "group"
  paired_grp = "donor"
  prefix = "test"
  //sample_col = NULL
  id_type = "ENSEMBL"
  fdr = 0.1
  c1 = "grpA"
  c2 = "grpB"
  pCutoff = 0.05
  FCcutoff= 2
  readPaths = false

  ora_pathway_dbs = ["KEGG", "Reactome", "WikiPathway", "GO_BP", "GO_MF"]
  skip_ora = false

}


process {

  cpus = 1

  // Per-process configuration
  withName: dummyCheckInput {
        cpus = 2
        publishDir = [path: 'results/dummy_check_input', mode: params.publish_dir_mode]
  }
  withName: CLUSTERPROFILER_ORA {
      publishDir = [path: 'results/clusterprofiler_ora', mode: params.publish_dir_mode]
  }

  withName:DESeq2 {
    cpus = 2
  }
}

conda {
    useMamba = true
}
