params {
    gene_expression = null
    samplesheet = null
    publish_dir_mode = "copy"
}

process {
    withName: dummyCheckInput {
        cpus = 2
        publishDir = [path: 'results/dummy_check_input', mode: params.publish_dir_mode]
    }
}

process {
    withName: BioQC {
        cpus = 2
        publishDir = [path: 'results/BioQC', mode: params.publish_dir_mode]
    }
}

conda {
    useMamba = true
}
